@media(min-width:320px){
  body{
    overflow-x: hidden;
  }
  header{
    margin:1rem;
    gap:2rem;
  }
  .header__logoDiv{
    display:none;
  }

  .header__logoSmallScreenDiv{
    display:block;
  }

  .header__ctasParentDiv{
    gap:0.3rem;
  }
  .header__navBar{
    display:none;
  }
  .heaader__appointmentDiv{
    display:none;
  }
  .header__logInDiv{
    display:none;
  }

  /* main */
  main{
    margin:0;
  }

  .bg-video{
    height:350px;
  }

  /* about us section */
  .main__aboutUsSeciton{
    margin-top:5rem;
    flex-direction: column; /* changed*/
  }

  .main__leftContent{
    flex-direction: column;
    gap:0.5rem;
  }

  .main__leftImage{
    width:100%;
    height: 13.125rem;
  }

  .main__rightContent{
    margin:0.5rem;
  }

  .main__aboutTitle{
    font-size:1.2rem;
  }
  .main__goToCtaDiv{
    margin-top:2rem;
  }

  /* Services */
  .main__servicesSeciton{
    margin-top:5rem;
  }
  
  .main__servicesTopDiv{
    align-items: center;
  }
  .main__servicesTitle{
    font-size:1.2rem;
  }
  
  .main__ctaDiv{
    width:10rem;
    text-wrap: nowrap;
  }

  .main__servicesDiv{
    grid-template-columns: repeat(1,320px);
  }

  /* news - TAKE A LOOK*/
  .main__newsSection{
    margin-top:5rem;
  }

  .main__newsHeaderDiv{
    align-items: center;
  }
  .main__newsLeft{
    width:120px;
    gap:1rem;
  }
  .main__newsSectionTitle{
    font-size: 1.2rem;
  }

  .main__news{
    grid-template-columns: repeat(1,320px);
    padding:0;
  }

  .main__newsChild{
    padding:1rem;
    height:300px;
  }
  .main__newsImg{
    width:150px;
    height:100%;
  }
 
  .main__newsDescr{
    width:120px;
    font-size:12px;
    height:156px;
  }

  .main__newsBtn{
    width:120px;
    height:2rem;
    font-size:12px;
    padding:0.1
  }

  /* Contact */
  .main__contactSection{
    margin-top: 5rem;
  }

  .main__contactTitle{
    font-size:1.2rem;
  }
  .main__contactDiv{
    margin-top:0rem;
  }
  input{
    width:9rem;
    font-size:12px;
    height: 3rem;
  }
  .main__messageInput{
    width:19rem;
  }
  .main__mapImgSide{
    display:none;
  }
  
  /* FOOTER */
  footer{
    padding:1rem 1rem;;
  }
  .footer__navigation{
    flex-direction: column;
    margin:0;
    gap:0.5rem;
  }
  .footer__departments{
    display:none;
  }
  .footer__linksDiv{
    display:none;
  }
  .footer__contactInfo{
    display:none;
  }
  
  .main__smallScreenNavg{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    font-size:1.1rem;
    cursor:pointer;
  }

  .footer__footerCtas{
    gap:0.5rem;
  }

}


@media(min-width:768px){
  body{
    overflow-x: hidden;
  }
  header{
    margin:2rem 4rem;
    gap:19rem;
  }
  /* no need */
  .header__logoDiv{
    display:none;
  }

  .header__logoSmallScreenDiv{
    display:block;
  }  /* no need */

  .header__ctasParentDiv{
    justify-content:flex-end;
    width:21rem;
    gap:0.3rem;
  }

  .header__navBar{
    display:none;
  }  /* no need */
  .heaader__appointmentDiv{
    display:none;
  }  /* no need */
  .header__logInDiv{
    display:none;
  }  /* no need */
 
  /* main */
  main{
    margin:1rem 4rem;
  }

  .bg-video{
    height:350px;
  }/* no need */

  /* about us section */
  .main__aboutUsSeciton{
    margin-top:10rem;
    flex-direction: column; 
  }

  .main__leftContent{
    flex-direction: column;
    gap:1rem;
  }/* no need */

  .main__leftImage{
    width:100%;
    height:436px;
  }

  .main__rightContent{
    margin:0;
  }

  .main__aboutTitle{
    font-size:2.1rem;
  }
  .main__goToCtaDiv{
    margin-top:2rem;
  }

  /* Services */
  .main__servicesSeciton{
    margin-top:5rem;
  }/* no need  */

  .main__servicesTopDiv{
    align-items: center;
  }
  .main__servicesTitle{
    font-size:2rem;
  }
  
  .main__ctaDiv{
    width:11.5rem;
    text-wrap: nowrap;
  }

  .main__servicesDiv{
    grid-template-columns: repeat(2,285px);
  }

  /* NEWS - TAKE A LOOK*/
  .main__newsSection{
    margin-top:5rem;
  }

  .main__newsHeaderDiv{
    align-items: center;
  }
  .main__newsSectionTitle{
    font-size: 1.2rem;
  }

  .main__news{
    grid-template-columns: repeat(1,637px);
    padding:0;
  }

  .main__newsChild{
    padding:1.5rem;
    height:250px;
    gap:1.5rem;
    width:max-content;
  }
  .main__newsImg{
    width:300px;
    height:100%;
  }
  .main__newsLeft{
    width:280px;
    gap:1rem;
  }
  .main__newsDescr{
    width:280px;
    font-size:1rem;
    height:120px;
  }

  .main__newsBtn{
    width:280px;
    height:2rem;
    font-size:12px;
    padding:0.1
  }

  /* Contact */
  .main__contactSection{
    margin-top: 5rem;
  }

  .main__contactTitle{
    font-size:2rem;
  }
  .main__contactDiv{
    margin-top:1rem;
  }
  input{
    width:19.6rem;
    font-size:12px;
    height: 4rem;
  }

  input:nth-of-type(1),
  input:nth-of-type(2) {
    margin-top: 0;
  }
  .main__messageInput{
    width:41rem;
  }
  .main__mapImgSide{
    display:none;
  }
  
  /* FOOTER */
  footer{
    padding:2rem 4rem;;
  }
  .footer__navigation{
    flex-direction:row;
    margin:0;
    gap:8.5rem;
  }
  .footer__departments{
    display:none;
  }
  .footer__linksDiv{
    display:none;
  }
  .footer__contactInfo{
    display:none;
  }
  
  .main__smallScreenNavg{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    font-size:1.1rem;
    cursor:pointer;
  }
  .footer__copyRightDiv{
    align-items: center;
  }
  .footer__footerCtas{
    gap:0.5rem;
  }

}


@media(min-width:1280px){
  body{
    overflow-x: hidden;
  }
  header{
    margin:2rem 10.5rem;
    gap:22rem;
  }
  /* no need */
  .header__logoDiv{
    display:block;
  }

  .header__logoSmallScreenDiv{
    display:none;
  }  /* no need */

  .header__ctasParentDiv{
    justify-content:flex-end;
    width:21rem;
    gap:0.3rem;
  }

  .header__navBar{
    display:none;
  }  /* no need */
  .heaader__appointmentDiv{
    display:none;
  }  /* no need */
  .header__logInDiv{
    display:none;
  }  /* no need */
 
  /* main */
  main{
    margin:1rem 10.5rem;
  }

  .bg-video{
    height:400px;
  }/* no need */

  /* about us section */
  .main__aboutUsSeciton{
    margin-top:9.75rem;
    flex-direction: column; 
  }

  .main__leftContent{
    flex-direction:row;
    gap:1.9rem;
  }/* no need */

  .main__leftImage{
    width:580px;
    height:100%;
    object-fit:cover;
  }

  .main__rightContent{
    margin:0;
  }
  .main__aboutTitle{
    font-size:2.1rem;
  }
  .main__goToCtaDiv{
    margin-top:2rem;
  }

  /* Services */
  .main__servicesSeciton{
    margin-top:9rem;
  }/* no need  */

  .main__servicesTopDiv{
    align-items: center;
  }
  .main__servicesTitle{
    font-size:2rem;
  }
  
  .main__ctaDiv{
    width:11.5rem;
    text-wrap: nowrap;
  }

  .main__servicesDiv{
    grid-template-columns: repeat(2,330px);
    justify-content: space-between;
    gap:3rem;
  }

  /* NEWS - TAKE A LOOK*/
  .main__newsSection{
    margin-top:9rem;
  }

  .main__newsHeaderDiv{
    align-items: center;
  }
  .main__newsSectionTitle{
    font-size: 2rem;
  }

  .main__news{
    grid-template-columns: repeat(1,58.05rem);
    padding:0;
  }

  .main__newsChild{
    padding:1.5rem;
    height:250px;
    gap:1.5rem;
    width:58.05rem;

  }
  .main__newsImg{
    width:400px;
    height:100%;
  }
  .main__newsLeft{
    flex:1;
    gap:1rem;
  }
  .main__newsDescr{
    font-size:1rem;
    height:120px;
    width:100%;
  }

  .main__newsBtn{
    width:100%;
    height:2rem;
    font-size:12px;
    padding:0.1
  }

  /* Contact */
  .main__contactSection{
    margin-top:9rem;
  }

  .main__contactTitle{
    font-size:2rem;
  }
  .main__contactDiv{
    margin-top:2rem;
  }
  input{
    width:28.6rem;
    font-size:1.1rem;
    height: 4rem;
  }

  input:nth-of-type(1),
  input:nth-of-type(2) {
    margin-top: 0;
  }
  .main__messageInput{
    width:58.5rem;
  }
  .main__mapImgSide{
    display:none;
  }

  /* FOOTER */
  footer{
    padding:2rem 10.5rem;
    margin-top:9rem;
  }
  .footer__navigation{
    flex-direction:row;
    margin-top:2rem;
    gap:19rem;
  }
  .footer__departments{
    display:none;
  }
  .footer__linksDiv{
    display:none;
  }
  .footer__contactInfo{
    display:none;
  }
  
  .main__smallScreenNavg{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    font-size:1.1rem;
    cursor:pointer;
  }
  .footer__copyRightDiv{
    align-items: center;
  }
  .footer__footerCtas{
    gap:0.5rem;
  }
}


@media(min-width:1440px){
  body{
    overflow-x: hidden;
  }
  header{
    margin:2rem 10rem;
    gap:12rem;
  }
  .header__logoDiv{
    display:block;
    flex:1;
  }

  .header__navBar{
    display:flex;
  } 
  
  .header__ctasParentDiv{
    justify-content:flex-end;
    width:21rem;
    gap:0.5rem;
  }
  .heaader__appointmentDiv{
    display:flex;
  }
  .header__logInDiv{
    display:block;
  } 
 
  .header__burgerMenu{
    display:none;
  }

  /* main */
  main{
    margin:1rem 10rem;
  }

  .bg-video{
    height:550px;
  }

  /* about us section */
  .main__aboutUsSeciton{
    margin-top:9rem;
    flex-direction:row; 
  }

  .main__leftContent{
    flex-direction:row;
    gap:1rem;
  }

  .main__leftImage{
    width:536px;
    height:100%;
    object-fit:cover;
  }

  .main__rightImgs{
    justify-content:safe;
  }
  .main__rightImages{
    height: calc(50% - 0.5rem);
    width:323px;
    object-fit: cover;
    border-radius:0.625rem;
  }
  .main__rightContent{
    margin:0;
    gap:3.7rem;
  }
  .main__aboutTitle{
    font-size:2.1rem;
  }
  .main__goToCtaDiv{
    margin-top:0rem;
  }

  .main__ctaDiv{
    width:11.5rem;
    text-wrap: nowrap;
  }

  /* Services */
  .main__servicesSeciton{
    margin-top:9rem;
  }

  .main__servicesDiv{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    gap:3rem;
  }

  /* NEWS - TAKE A LOOK*/
  .main__newsSection{
    margin-top:9rem;
  }

  .main__newsHeaderDiv{
    align-items: center;
  }
  .main__newsSectionTitle{
    font-size: 2rem;
  }

  .main__news{
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    padding:0;
    width: 100%;
  }

  .main__newsChild{
    padding:1.5rem;
    height:250px;
    gap:1.5rem;
    width:100%;
  }
  .main__newsImg{
    width:300px;
    height:100%;
  }
  .main__newsLeft{
    flex:1;
    gap:1rem;
  }
  .main__newsDescr{
    font-size:1rem;
    height:120px;
    width:100%;
  }

  .main__newsBtn{
    width:100%;
    height:2rem;
    font-size:12px;
    padding:0.1
  }

  /* Contact */
  .main__contactSection{
    margin-top:9rem;
  }
  
  .main__contactDiv{
    margin-top:2rem;
    display:flex;
    flex-direction: row;
    gap:4rem;
  }
  
  .main__form{
    display:flex;
    flex-direction: column;
    gap:1rem;
  }

  input{
    width:21.875rem;
    font-size:1.1rem;
    height:4rem;
  }

  input:nth-of-type(1),
  input:nth-of-type(2) {
    margin-top: 0;
  }
  .main__messageInput{
    width:45rem;
  }
  .main__mapImgSide{
    display:block;
    width:100%;
  
  }

  /* FOOTER */
  footer{
    padding:2rem 10rem;
    margin-top:9rem;
  }
  .footer__navigation{
    flex-direction:row;
    justify-content: space-between;
    margin-top:2rem
  }
  .footer__departments{
    display:flex;
  }
  .footer__linksDiv{
    display:flex;
  }
  .footer__contactInfo{
    display:flex;
  }
  
  .main__smallScreenNavg{
    display:none;
  }
  .footer__copyRightDiv{
    align-items: center;
  }
  .footer__footerCtas{
    gap:0.5rem;
  }
}